
header {
  @media screen and (min-width: 1140px) {
    width: 1140px;
  }
  width: 100vw;
  margin: 0 auto;
}
// Begin nav container
.navBar {
  @media screen and (min-width: 960px) {
    width: 100%;
    position: absolute;
    top:4.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  width: 100%;
  position: absolute;
  top:1.5em;
  display: flex;
  flex-direction: column;
}
.logo {
  @media screen and (min-width: 960px) {
    width: 30%;
    display: flex;
  }
  width: 60%;
  display: flex;
}
ul {
  @include clearfix;
  @media screen and (min-width: 960px) {
    align-self: flex-end;
    width:70%;
    background-color: rgba(255, 255, 255, 0.0);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    li {
      width: 100%;
      position: relative;
    }
  }
  align-self: flex-end;
  width: 50%;
  height: 100vh;
  background-color: $backgroundSlate;
  display: inline;
  position: relative;
  li {
    width:100%;
    display:flex;
    flex-direction: column;
  }
}
.navSub  ul {
  width: 100%;
  display: block;
}
#destinationSub {
  position: absolute;
  top: 1.1em;
  left: 16.66666666667%;
}
#activitiesSub {
  position: absolute;
  top: 1.1em;
  left: 30%;
}
#planningSub {
  position: absolute;
  top: 1.1em;
  left: 40%;
}
#aboutSub {
  position: absolute;
  top: 1.1em;
  left: 50%;
}


.destination:after a {
  @media screen and (max-width: 960px){
    display: none;
  }
  content: url('../img/btn-navarrow.png');
  display: inline;
}
.activities:after a {
  @media screen and (max-width: 960px){
    display: none;
  }
  content: url('../img/btn-navarrow.png');
  display: inline;
}
.planning:after a {
  @media screen and (max-width: 960px){
    display: none;
  }
  content: url('../img/btn-navarrow.png');
  display: inline;
}
.about:after a {
  @media screen and (max-width: 960px){
    display: none;
  }
  content: url('../img/btn-navarrow.png');
  display: inline;
}

.navBar .menuBar {
  position: absolute;
  right:1em;
  top: .5em;
  width: em(30px);
  height: em(26px);
}
.navBar .menuBar span {
  @media screen and (max-width: 960px){
    display: block;
    height: em(2px);
    background: $white;
    margin: em(5px) 0;
  }
  display: none;
}

// End nav bar

// Begin Hero Content

.hero-Content {
  @media screen and (min-width: 960px) {
    width: 100vw;
    height: 100vh;
  }
  width: 100%;
  height: 500px;
  background-color: $black;
  background: no-repeat center url("../img/hero-slide1.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    width: 100%;
    text-align: center;
    margin-top: .5em;
  }
  img {
    width: em(80px);
    margin-top: 5em;
  }
}
.hero-Content .logoWhite {
  @media screen and (max-width: 767px) {
    margin-bottom: 1.25em;
  }
  margin-bottom: 2.25em;
}
.logoWhite #heroTextLogo {
  @media screen and (min-width: 767px) {
    width: em(171.3px * 3.1);
    height: em(18.2px * 3.1);
  }
  @media screen and (min-width: 960px) {
    width: em(171.3px * 4.55);
    height: em(18.2px * 4.55);
  }
  width: em(171.3px * 2);
  height: em(18.2px * 2);
}
.hero-whiteBar {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: em(6px);
  margin-top: .5em;
  margin-bottom: 1.25em;
  span {
    display: block;
    width: em(250px);
    height: em(6px);
    background-color: $white;
  }
}
.hero-Arrow {
  width: 6.5em;
  height: 6.5em;
  background-color: rgba(255,255,255,0.4);
  border-radius: 50%;
  position: relative;
  transition-duration: 0.5s;
  img {
    width: 2em;
    position: absolute;
    top: .6em;
    left: 2.55em;
  }
  &:hover {
    width: 8.5em;
    height: 8.5em;
    img {
      width: 3em;
      top:0.8em;
      left:3em;
    }
  }
}
.Explore {
  @media screen and (max-width: 960px) {
    display: none;
  }
  align-self: flex-end;
  position: relative;
  margin:auto;
  width: 10em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 4em;
  h3 {
    width: 100%;
    text-align: center;
    background-color: $arcticOrange;
    padding: 1.25em;
  }
  img {
    margin-top: -1.25em;
    width: em(50px);
    height: em(9px);
  }
}

// End hero and nav container

.gallery {
  @media screen and (max-width: 960px) {
    width: 100vw;
  }
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em;
}
.images {
  width: 100%;
  padding: 0em;
  margin: 1em;
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.images img {
  width: 50%;
  height: 50%;
}
