// Begin logo
.logo {
  path {
    fill: $white;
    stroke: $white;
    stroke-width: em(.5px);
  }
  a:hover {
    path {
      fill: $arcticOrange;
      stroke: $arcticOrange;
      stroke-width: em(.5px);
    }
  }
}
#logoMainWhite {
  width: 50px;
  height: 50px;
}
#logoTextWhite {
  width: 180px;
  height: 50px;
}
// End logo

// Begin nav items
.nav {
  color: white;
  & ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    & li {
      display: flex;
      justify-content: flex-start;
      align-items:baseline;
      border-radius: 0px;
      margin-left: 2em;
      & a {
        @media screen and (min-width: 1150px) {
          font-size: em(16px);
          line-height: em(16px);
        }
        font-size: em(14px);
        line-height: em(14px);
        font-family: $stack-fjallaOne;
        letter-spacing: .09em;
        text-transform: uppercase;
        color: $white;
        text-decoration: none;
        align-self: center;
        &:hover {
          color: $arcticOrange;
        }
      }
    }
  }
}
.navSub > ul {
  @include clearfix;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top:0;
  left:0;
  z-index: 1000;
  & li {
    width: 100%;
    display: inline-block;
  }
}
.destinationSub,
.aboutSub,
.planningSub,
.activitiesSub {
  display: none;
}
.destinationSub {
  top: 20em;
  left: 10em;
}
.hero-Content h2, h3 {
  color: $white;
  text-transform: uppercase;
}
.hero-Explore h3 {
  background-color: $arcticOrange;
  padding: 1.5em 2.5em;
}
#heroTextLogo {
  path {
    fill: $white;
    stroke: $white;
    stroke-width: em(.3px);
  }
}
