// Begin logo
.logo {
  path {
    fill: $white;
    stroke: $white;
    stroke-width: em(.5px);
  }
  a:hover {
    path {
      fill: $arcticOrange;
      stroke: $arcticOrange;
      stroke-width: em(.5px);
    }
  }
}
.logo .logoWhite #logoMainWhite {
  @media screen and (max-width: 960px) {
    width: em(50px / 1.3);
    height: em(50px / 1.3);
  }
  width: em(50px);
  height: em(50px);
  margin-right: .25em;
}
#logoTextWhite {
  @media screen and (max-width: 960px) {
    width: em(180px / 1.3);
    height: em(50px / 1.3);
  }
  width: em(180px);
  height: em(50px);
}
// End logo

// Begin nav items
.nav ul {
  color: $white;
  li {
    border-radius: 0px;
    a {
      @media screen and (min-width: 1150px) {
        font-size: em(16px);
        line-height: em(16px);
      }
      font-size: em(14px);
      line-height: em(14px);
      font-family: $stack-fjallaOne;
      letter-spacing: .09em;
      text-transform: uppercase;
      color: $white;
      text-decoration: none;
      &:hover {
        color: $arcticOrange;
      }
    }
  }
}
.navSub ul li a {
  font-family: $stack-openSans;
  text-transform: capitalize;
}
.hero-Content h2, h3 {
  color: $white;
  text-transform: uppercase;
}
.hero-Content h2 {
  @media screen and (min-width: 767px) {
    font-size: 1.25em;
    letter-spacing: .15em;
  }
  @media screen and (min-width: 960px) {
    letter-spacing: .25em;
  }
  font-size: .8em;
}
.hero-Content .hero-whiteBar {
  width: 100%;
  height: em(12px);
}
.hero-whiteBar span {
  background-color: $white;
}

.hero-Content .logoWhite #heroTextLogo path {
    fill: $white;
    stroke: $white;
    stroke-width: em(.3px);
}
