//global config
* {
  box-sizing: border-box;
}

body {
  font-size: $base__font-size;
  line-height: ($base__line/$base__font-size);
  font-family: $font-family--primary;
  // -webkit-font-smoothing: antialiased;
}
h1 {
  font-family: $stack-fjallaOne;
  font-size: 3em;
  text-transform: uppercase;
}

h2 {
  font-family: $stack-fjallaOne;
  font-size: 1.5em;
  text-transform: uppercase;
}


// Color Palette Modifiers

$palettes: (
  gray: (
    xx-light : lighten($grey, 43%),
    x-light  : lighten($grey, 35%),
    light    : lighten($grey, 12%),
    base     : $grey,
    dark     : darken($grey, 8%),
    x-dark   : darken($grey, 16%)
  ),
	black: (
		light    : lighten($black, 10%),
		base     : $black,
		dark     : darken($black, 10%)
	)
);
