// Descriptive Base Colors

$white          : #fff;
$black          : #0b0b0b;
$grey           : #797e83;

$arcticOrange   : #dc7725;

$backgroundCream: #998844;
$backgroundBiege: #e6e6e0;
$backgroundSage : #494946;
$backgroundSlate: #343433;


// Base font size

$base__font-size : 16px;
$base__line      : 24px;


// Font stacks

$font-url--google         : "https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans:300,300i,400,400i,600,600i,700,700i,800";


$helvetica-font-stack     : "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$stack-openSans           : 'Open Sans', $helvetica-font-stack;
$stack-fjallaOne          : 'Fjalla One', sans-serif;


$font-family--primary     : $stack-openSans;

// Font weights

$font-weight--light       : 300;
$font-weight--regular     : 400;
$font-weight--semiBold    : 600;
$font-weight--bold        : 700;
$font-weight--extraBold   : 800;

// Asset paths

$path-img  : '../img';
$path-font : '../fonts';
